@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


form{
    max-width:420px; 
    margin:50px auto; 
    z-index: 100;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
form h1{
    margin:0 0 15px;
    padding:0;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);

}

.feedback-input {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #ffffff;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #002fff; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

button{
    width: 100%;
    cursor: pointer;
    background: linear-gradient(-45deg, #3f00b5, #000a66, #2737c8, #001bb5);
    background-size: 800% 400%;
    padding: 0.5em 0.5em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
button:hover{ 
    animation: gradient 3s infinite;
    transform: scale(1.05);
    cursor: pointer;
}
button:active{ 
    animation: gradient 3s infinite;
    transform: scale(0.8);
}
@media (max-width: 425px) {
    button{
        font-size: 20px;
    }
}